# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/
ENV/

# Environment files
.env

# Pytest and other test cache
.pytest_cache/
.cache/

# MyPy
.mypy_cache/

# VS Code settings
.vscode/

# OS files
.DS_Store
